<h1>ADD NOTE</h1>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Enter the heading here: " id="note_heading" [(ngModel)] = "temp_note.heading" > </textarea>
    <label for="note_heading">Type the note heading here:</label>

  </div>

  <div class="form-floating">

    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" [(ngModel)] = "temp_note.text"></textarea>
    <label for="note_heading">Type the note here:</label>
    <button class="btn btn-primary" (click)="submit()">SAVE NOTE</button>
  </div>

